.projets-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.projet-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.projet-card:hover{
    transform:translateY(-8px);
}

.projet-image{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}

.projet-content{
    padding:25px;
}

.projet-content h3{
    margin-bottom:15px;
    color:#0f172a;
}

.projet-content p{
    color:#475569;
    margin-bottom:15px;
}

.tech-stack{
    margin-top:15px;
}

.tech-stack span{
    display:inline-block;
    margin:5px;
    padding:8px 12px;
    background:#dbeafe;
    color:#2563eb;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
}
